  
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    gap: 10px;
  }
  
  .main-image {
    grid-column: 1 / 3; 
    grid-row: 1 / 3;   
  }
  
  .sub-image {
    grid-column: auto / span 1; 
    grid-row: auto / span 1;
  }
  
  .gallery-image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }
  .main-image {
    grid-column: 1 / 3; 
    grid-row: 1 / 3;    
  }
  
  .sub-image {
    grid-column: auto / span 1; 
    grid-row: auto / span 1;
  }
  
  .more-images-button {
    grid-column: 1 / -1; 
    grid-row: 3;        
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .more-images-button:hover {
    background-color: #0056b3;
  }

  .details-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
  }
  
  .description-section {
    flex-grow: 1; 
  }
  
  .reservation-info {
    padding: 20px;
    border: 1px solid #ccc;
    margin-left: 20px; 
    width: 250px; 
    flex-shrink: 0; 
  }
  
  .reservation-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .reserveButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    text-align: right;
    float: right; 
    margin-top: 20px; 
  }
  .reserveButton:hover {
    background-color: blue;
  }
  .price-per-night {
    font-size: 2em; 
    font-weight: bold;
  }
  
  .rating-and-reviews {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 10px; 
  }
  
  .rating-and-reviews span {
    margin-right: 10px;
  }
  
  .review {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .review:last-child {
    border-bottom: none;
  }
  
  
  @media (max-width: 1024px) {
    .description-section {
      flex-direction: column-reverse;
    }
    .image-gallery {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 200px);
    }
  
    .main-image {
      grid-column: 1 / -1; 
      grid-row: 1 / 2;
    }
  
    
    .more-images-button {
      grid-column: 1 / -1;
    }
  }
  